/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Didot';
    src: url('../fonts/Didot-HTF-L42-Light-Ital.eot');
    src: url('../fonts/Didot-HTF-L42-Light-Ital.woff2') format('woff2'),
    url('../fonts/Didot-HTF-L42-Light-Ital.woff') format('woff'),
    url('../fonts/Didot-HTF-L42-Light-Ital.ttf') format('truetype'),
    url('../fonts/Didot-HTF-L42-Light-Ital.svg#Didot-HTF-L42-Light-Ital') format('svg'),
    url('../fonts/Didot-HTF-L42-Light-Ital.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Champagne&Limousines';
  src: url('Champagne&Limousines-Bold.eot');
  src: url('Champagne&Limousines-Bold.woff2') format('woff2'),
    url('Champagne&Limousines-Bold.woff') format('woff'),
    url('Champagne&Limousines-Bold.ttf') format('truetype'),
    url('Champagne&Limousines-Bold.svg#Champagne&Limousines-Bold') format('svg'),
    url('Champagne&Limousines-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne&Limousines';
  src: url('Champagne&Limousines.eot');
  src: url('Champagne&Limousines.woff2') format('woff2'),
    url('Champagne&Limousines.woff') format('woff'),
    url('Champagne&Limousines.ttf') format('truetype'),
    url('Champagne&Limousines.svg#Champagne&Limousines') format('svg'),
    url('Champagne&Limousines.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
  Scrollbar
   ========================================================================== */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #213830;
  border: none;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5B8476;
}
::-webkit-scrollbar-thumb:active {
  background: #5B8476;
}
::-webkit-scrollbar-track {
  background: #FFF;
  border: none;
  /*border-radius: 39px;*/
}
::-webkit-scrollbar-track:hover {
  background: #EEE                                                                                                                                                                                                                                                                                                                                                                                                                                                  ;
}
::-webkit-scrollbar-track:active {
  background: #3e2723;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    font-family: "Champagne&Limousines", sans-serif ;
    font-weight: normal;
}

body {
    background: url(../img/bg.jpg)no-repeat center center fixed;
    background-size: cover;
    color: #1a322e;
}

a:hover,
a:focus {
    text-decoration: none;
}

section {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.col-center {
    float: none;
    margin: 0 auto;
}


.img-responsive {
    width: 100%;
}

.menu-icon {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 4%;
    z-index: 10;
    transition: all 0.3s ease;
}

.menu-icon:hover {
    box-shadow: 0 0 5px 2px #F7EEE5;
}

/**paddings**/

.no-padding {
    padding: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}

/**Margins**/

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

/**Sections**/

#home {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
    background: -webkit-linear-gradient(bottom, rgba(247,238,229,1) 5%, rgba(247,238,229,0.95) 10%, rgba(247,238,229,0.6) 50%, rgba(247,238,229,0.45) 100%);
    background: -o-linear-gradient(bottom, rgba(247,238,229,1) 5%, rgba(247,238,229,0.95) 10%, rgba(247,238,229,0.6) 50%, rgba(247,238,229,0.45) 100%);
    background: linear-gradient(to top, rgba(247,238,229,1) 5%, rgba(247,238,229,0.95) 10%, rgba(247,238,229,0.6) 50%, rgba(247,238,229,0.45) 100%);
}

    #home a {
        font-size: 1.15rem;
        letter-spacing: 3px;
        color: #1a322e;
        position: relative;
        padding: 9px 0;
    }

    #home a:after,
    #home a:before {
        content: "";
        position: absolute;
        left: 4%;
        width: 92%;
        height: 2px;
        background: #1a322e;
    }

    #home a:after {
        top: 0;
    }

    #home a:before {
        bottom: 0;
    }

#galeria {
    min-height: 100vh;
    background: #F7EEE5;
    position: relative;
}

    #galeria h2 {
        width: 100%;
        text-align: center;
        letter-spacing: 3px;
    }








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
